@model SQLDemo.Models.CreateProduct
@{
    var categories = ViewBag.Category;
}
<section class="text-center">
    <h3>Create Product</h3>
    <form method="post" asp-controller="Product" class="m-0 row text-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <input type="text" id="Name" placeholder="Name" style="height:38px;" class="mt-2 form-control" asp-for="Name" name="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>

            <input type="number" placeholder="Price" id="Price" class="mt-2 form-control" asp-for="Price" name="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>

            <input type="number" placeholder="Quantity" id="Quantity" class="mt-2 form-control" asp-for="Quantity" name="Quantity" />
            <span asp-validation-for="Quantity" class="text-danger"></span>


            <textarea placeholder="Description" id="Description" class="mt-2 form-control" asp-for="Description" name="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>

            <select class="mt-2 form-control" asp-for="CategoryId" name="CategoryId">
                @foreach (var category in categories)
                {
                    <option value="@category.Id">
                        @category.CategoryName
                    </option>
                }
            </select>
            <button style="width:100%;" type="submit" value="Create" class="btn btn-primary mt-1">Create Product</button>
        </div>
        <div class="col-sm-3"></div>
    </form>
</section>